    <%# navbar %>
    <nav class="global-nav">
      <div class="container">
        <div class="navigation">
          <ul class="left-actions">
            <li class="nav-item">
              <%= link_to "PRETENDER", root_path, class: "nav-link" %>
            </li>
          </ul>

          <ul class="right-actions">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "問題を作成する", "#", class: "btn btn-primary quiz-btn" %>
            </li>
            <li class="nav-item">
              <%= link_to "お題を作成する", "#", class: "btn btn-primary theme-btn" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
            </li>

            <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary signup-btn" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", user_session_path, class: "login" %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%# end of navbar %>
